
.loginPage {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url('/image/log_bg.png');
  background-size: 100% 100%;
  background-position: center center;
  display: flex;
  flex-direction: column;

  .loginLogo {
    width: 100%;
    height: 120px;
    padding-left: 80px;
    display: flex;
    align-items: flex-end;
    img {
      width: 150px;
      height: 56px;
    }
  }

  .loginPageContent {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .formWrap {
      width: 510px;
      height: 560px;
      background-image: url('/image/form_bg.png');
      background-size: 100% 100%;
      background-position: center center;
      padding: 70px 68px 30px 68px;
      display: flex;
      flex-direction: column;

      .title {
        img {
          width: 308px;
          height: 23px;
        }

        p {
          height: 40px;
          line-height: 40px;
          font-weight: 400;
          font-size: 20px;
          color: #FFFFFF;
          opacity: 0.6;
        }
      }

      .form {
        flex: 1;
        width: 100%;
        padding-top: 60px;
      }
    }

  }

  .loginPageFooter {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.5;
  }
}


.formItem {
  position: relative;
  width: 100%;
  height: 46px;
  border: 1px solid #1292FF;
  border-radius: 6px;
  padding-left: 52px;

  .formItemInput {
    width: 100%;
    height: 44px;
    // margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
    border-radius: 0;
    position: relative;
  }

}

.user::after {
  position: absolute;
  top: 10px;
  left: 16px;
  width: 20px;
  height: 20px;
  background-image: url('@/assets/image/base/user.png');
  background-size: 100%;
  content: '';
}

.user::before {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 1px;
  height: 24px;
  background: rgba(0, 84, 255, 0.5);
  content: '';
}

.password::after {
  position: absolute;
  top: 10px;
  left: 18px;
  width: 18px;
  height: 21px;
  background-image: url('@/assets/image/base/pwd.png');
  background-size: 100%;
  content: '';
}

.password::before {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 1px;
  height: 24px;
  background: rgba(0, 84, 255, 0.5);
  content: '';
}

.code::after {
  position: absolute;
  top: 12px;
  left: 18px;
  width: 18px;
  height: 19px;
  background-image: url('@/assets/image/base/codeIcon.png');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  content: '';
}

.code::before {
  position: absolute;
  top: 10px;
  left: 50px;
  width: 1px;
  height: 24px;
  background: rgba(0, 84, 255, 0.5);
  content: '';
}

.submitBtn:extend(.flex_center) {
  height: 46px;
  font-size: 18px;
  margin-top: 10px;
  background: rgba(18, 146, 255, 1) !important;
}

.codeWrap {
  width: 100px;
  height: 46px;
  border: 1px solid #1292FF;
  box-sizing: border-box;
  border-radius: 6px;
  overflow: hidden;
}
