.modalBody {
  width: 892px;
  height: 380px;
}

.modalTitle {
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  font-family: FZZDHJW;
  background: linear-gradient(0deg, #b6deff 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
