/*------------------ 特色场景大屏组件样式 start -------------------*/
.itemComponent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgba(8, 26, 59, 0.6);

  .componentHead {
    display: flex;
    width: 100%;
    height: 44px;
    background-color: #052b4f;
    background-image: url('@/assets/image/big-screen/card_bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;

    .title,
    .filter {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: flex-end;
      height: 100%;
      overflow: hidden;
    }

    .title {
      justify-content: flex-start;
      width: 129px;
      padding-left: 40px;
      color: #fff;
      font-weight: 400;
      font-size: 22px;
      font-family: FZZDHJW;
      background: linear-gradient(0deg, #b6deff 0%, #ffffff 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  .componentBody {
    flex: 1;
    width: 100%;
    overflow: hidden;
    color: #fff;
  }
}
/*------------------ 特色场景大屏组件样式 end ---------------------*/

/*----------------------- circleWrap start-----------------------*/
.circleWrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #0a305c;
  border-radius: 50%;
  box-shadow: 0 0 10px 4px rgba(1, 70, 160, 0.5) inset;

  .circleMiddle {
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 10px solid transparent;
    border-radius: 50%;

    .circleValue {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: 2px solid #1991f7;
      border-radius: 50%;
      box-shadow: 0 0 20px 4px rgba(1, 70, 160, 0.5) inset;

      .value {
        color: #33ec9b;
        font-weight: 500;
        font-size: 36px;
      }

      .label {
        color: #0084ff;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
      }
    }
  }

  .canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    animation: circles 5s linear infinite;
    animation-delay: 2s;
  }
}

@keyframes circles {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*----------------------- circleWrap end-------------------------*/

.scrollableTable {
  width: 100%;
  height: 100%;

  .theadContainer {
    width: 100%;
    height: 52px;
    color: #0084ff;
    font-size: 14px;
    background: #102e66;

    thead tr th {
      width: 16%;
      overflow: hidden;
    }
  }

  .tbodyContainer {
    width: 100%;
    text-align: center;
    table-layout: fixed;

    /* 偶数行 */
    tr:nth-child(even) {
      background-color: #081a3c;
    }

    /* 奇数行 */
    tr:nth-child(odd) {
      background-color: #0d2655;
    }

    .colContainer {
      width: 16%;
      overflow: hidden;
    }

    .tdContainer {
      overflow: hidden;
      font-size: 14px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
