.dealPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 12px 20px 20px 12px;

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .firstBtn {
      border-radius: 34px 0 0 0;
    }

    .lastBtn {
      border-radius: 0 34px 0 0;
    }

    .selectedStyle {
      color: #fff;
      background: linear-gradient(0deg, #002374 0%, #008ffe 100%);
    }

    .unSelectedStyle {
      color: #2897ff;
      background: linear-gradient(0deg, #002b83 0%, #0066ff 100%);
    }

    .btn {
      width: 140px;
      height: 36px;
      margin: 0 4px;
      font-weight: 400;
      font-size: 16px;
      font-family: PingFang SC;
      line-height: 30px;
      text-align: center;
      border: 2px solid #004394;
    }
  }

  .dealContainer {
    flex: 1;
    margin-top: 15px;
  }
}

.noticePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 16px);

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .container {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-top: 12px;
    border: 1px solid rgba(0, 74, 192, 0.6);

    .infoContainer {
      display: flex;
      flex: 1;
      flex-direction: column;
      height: 100%;
      border-left: 1px solid rgba(0, 74, 192, 0.6);

      .planNum {
        height: 45px;
        padding-left: 22px;
        color: #ffffff;
        font-weight: 400;
        font-size: 16px;
        font-family: Source Han Sans SC;
        line-height: 45px;
        border-bottom: 1px solid rgba(0, 74, 192, 0.6);
      }

      .demandCapacity {
        display: flex;
        flex: 1;
        flex-direction: column;
        padding: 15px;
        border-top: 1px solid rgba(0, 74, 192, 0.6);

        .bar {
          flex: 1;
        }

        .table {
          .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  text-align: center;

  .listTitle {
    width: 100%;
    height: 44px;
    color: #0084ff;
    font-weight: bold;
    font-size: 20px;
    font-family: Source Han Sans SC;
    line-height: 44px;
    background: repeating-linear-gradient(120deg,
        #01297d,
        #01297d 18px,
        #012777 18px,
        #012777 36px);
  }

  .listOption {
    flex: 1;
    width: 100%;
    overflow-y: auto;

    .option {
      width: 100%;
      height: 48px;
      color: #ffffff;
      font-weight: 400;
      font-size: 16px;
      font-family: PingFang SC;
      line-height: 48px;
      cursor: pointer;
    }

    // 偶数
    .evenBg {
      background-color: #02246c;
    }

    .oddBg {
      background-color: #02205d;
    }

    .selectedBg {
      background-color: #015cbf;
    }
  }
}

.loadManagePage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .header {
    margin-bottom: 15px;
  }

  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 20px;
    border: 1px solid rgba(0, 74, 192, 0.6);

    .check {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .loadDetail {
      display: flex;
      flex: 1;
      flex-direction: row;
      justify-content: flex-end;
      margin-top: 20px;

      .curveOrTable {
        width: 90%;
      }
    }
  }
}

.dealDeclarationPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .container {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 15px;
    border: 1px solid rgba(0, 74, 192, 0.6);

    .handledContainer {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }

    .topContainer {
      border-bottom: 1px solid rgba(0, 74, 192, 0.6);
    }

    .topContainer,
    .bottomContainer {
      padding: 20px 20px 0 20px;
    }

    .titleHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;

      .left {
        width: 10%;
      }

      .right {
        width: 172px;
      }
    }

    .bottomContainer {
      display: flex;
      flex: 1;
      flex-direction: column;

      .tableOrChart {
        flex: 1;
      }
    }
  }
}

.blueTitle {
  color: #0084ff;
  font-weight: bold;
  font-size: 14px;
  font-family: Source Han Sans SC;
  text-align: center;
}

.titleText {
  position: relative;
  height: 20px;
  padding-left: 8px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 20px;
    background: #fff;
    content: '';
  }
}

.clearingModalBody {
  .vppContainer {
    display: flex;
    flex-direction: column;
    height: 350px;
    border-bottom: 1px solid rgba(0, 74, 192, 0.6);
  }

  .charts {
    display: flex;
    flex-direction: row;
    height: 300px;

    .line {
      width: 1px;
      height: 100%;
      margin: 0 10px;
      background: linear-gradient(
        0deg,
        rgba(7, 44, 82, 0.05) 0%,
        rgba(0, 132, 255, 0.9) 51%,
        rgba(7, 44, 82, 0.05) 100%
      );
    }
  }
}

// 合同管理页面样式
.contractPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .pageHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
  }

  .pageMain {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border: 1px solid #01368d;

    .tableSearch {
      height: 50px;
    }
  }
}

// 结算管理页面样式
.settlementPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .settlementPageHead {
    width: 100%;
    height: 60px;
  }

  .settlementPageMain {
    flex: 1;
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    padding-top: 0;
    border: 1px solid #01368d;

    .mainHead {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 54px;

      .mainHeadTitle {
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
        font-family: PingFang SC;
      }
    }

    .cardList {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 120px;
      padding-bottom: 20px;
      border-bottom: 1px solid #01368d;

      .cardListItem {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16%;
        min-width: 120px;
        height: 100px;
        padding-left: 10px;
        overflow: hidden;
        border: 1px solid;
        border-top-color: #0052ec;
        border-right-color: #003495;
        border-bottom-color: #00297c;
        border-left-color: #003495;
        border-radius: 6px;
        box-shadow: inset 0 0 6px #14339c;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding-left: 10px;

        .listItemIcon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 70px;
          height: 70px;
          background-image: url('@/assets/image/base/cardItem.png');
          background-repeat: no-repeat;
          background-position: center 20px;
          background-size: contain;

          i {
            margin-bottom: 26px;
            color: #0191fd;
            font-size: 32px;
            background: -webkit-linear-gradient(#d2e3fa, #0191fd);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        .listItemContent {
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          height: 100%;
          padding-left: 10px;

          .column {
            line-height: 26px;
          }

          .label {
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            line-height: 26px;
            opacity: 0.8;
          }

          .value {
            color: #ffffff;
            font-weight: 400;
            font-size: 22px;
            font-family: DIN Medium;
          }
        }
      }
    }

    .settlementTable {
      width: 100%;
      height: calc(100% - 174px);

      .tableSearch {
        display: flex;
        align-items: center;
        width: 100%;
        height: 70px;
      }
    }
  }
}

// 合同管理页面、结算页面模态框样式
.modalMain {
  width: 100%;

  .modalMainForm {
    width: 100%;
    height: 168px;
    overflow: auto;
  }

  .modalTable {
    width: 100%;

    .button {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      height: 40px;
    }
  }

  .cardList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;

    .cardListItem {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 280px;
      height: 100px;
      margin: 0 20px;
      padding-left: 10px;
      overflow: hidden;
      border: 1px solid;
      border-top-color: #0052ec;
      border-right-color: #003495;
      border-bottom-color: #00297c;
      border-left-color: #003495;
      border-radius: 6px;
      box-shadow: inset 0 0 6px #14339c;

      .listItemIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 70px;
        background-image: url('@/assets/image/base/cardItem.png');
        background-repeat: no-repeat;
        background-position: center 20px;
        background-size: contain;

        i {
          margin-bottom: 26px;
          color: #0191fd;
          font-size: 32px;
          background: -webkit-linear-gradient(#d2e3fa, #0191fd);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .listItemContent {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        padding-left: 10px;

        .column {
          line-height: 26px;
        }

        .label {
          color: #fff;
          font-weight: bold;
          font-size: 16px;
          line-height: 26px;
          opacity: 0.8;
        }

        .value {
          color: #ffffff;
          font-weight: 400;
          font-size: 22px;
          font-family: DIN Medium;
        }
      }
    }
  }

  .modalCardTitle {
    height: 50px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    font-family: Source Han Sans SC;
    line-height: 50px;
    text-align: center;
  }

  .modalChange {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 40px;
    padding-right: 10%;
  }

  .modalChartOrTable {
    width: 100%;
  }
}

// 执行跟踪页面
.tractingPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .tractingMenu {
    width: 300px;
    height: 100%;
    overflow: hidden;
    border: 1px solid #01368d;

    .tractingMenuSide {
      width: 100%;
      height: 50%;
      overflow: hidden;
      .menuBg {
        width: 100%;
        height: 40px;
        background-image: url('@/assets/image/base/table-header.png');
        background-clip: border-box;
        background-size: cover;
        font-family: Source Han Sans SC;
        font-weight: bold;
        font-size: 20px;
        color: #0084FF;
        line-height: 40px;
        text-align: center;
      }

      .menuMain {
        width: 100%;
        overflow: auto;
      }
    }
  }

  .tractingMain {
    flex: 1;
    height: 100%;
    overflow: auto;
    border-top: 1px solid #01368d;
    border-right: 1px solid #01368d;
    border-bottom: 1px solid #01368d;
    .tractingWrap {
      width: 100%;
      height: 400px;
      padding: 0 20px;
      margin: 20px 0;
      overflow: hidden;
      border-bottom: 1px solid #01368d;

      .sourceInfoTitle {
        width: 100%;
        height: 40px;
        font-family: Source Han Sans SC;
          font-weight: bold;
          font-size: 14px;
          color: #FFFFFF;
          line-height: 40px;
          text-align: center;
      }

      .wrapHead {
        display: flex;
        justify-content: space-between;
        height: 40px;


        .wrapHeadTitle {
          font-family: Source Han Sans SC;
          font-weight: bold;
          font-size: 14px;
          color: #FFFFFF;
          flex: 1;
          text-align: center;
        }

        .wrapHeadSegmented {
          width: 150px;
          height: 40px;
        }
      }
    }
  }
}

.planChildren {
  padding-top: 10px;
  li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-indent: 20px;
    position: relative;
    font-size: 16px;
  }

  .borderBottom {
    line-height: 30px;
    height: 40px;

    border-bottom: 1px solid;
    border-image: linear-gradient(90deg,
    rgb(220 144 13 / 0%) 10%,
    rgb(17, 98, 155) 50%,
    rgb(226 19 68 / 0%) 90%) 2 2 2 2;
  }

  li::before {
    width: 8px;
    height: 8px;
    position: absolute;
    left: 0;
    top: 12px;
    background: #015cc0;
    border-radius: 50%;
    content: '';
  }
}

// 交易调控计划管理
.controlPage {
  width: 100%;
  height: 100%;


  .controlPageSelect {
    width: 100%;
    height: 50px;
  }

  .controlPageMain {
    width: 100%;
    height: calc(100% - 50px);
    border: 1px solid #01348e;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .controlPageMainTop {
      width: 100%;
      height: 320px;
      border-bottom: 1px solid #01348e;
      display: flex;

      .controlMenu {
        width: 280px;
        height: 100%;
        padding: 10px;
        overflow: auto;
        border-right: 1px solid #01348e;
      }

      .controlSide {
        flex: 1;
        height: 100%;
        overflow: hidden;

        .controlSideTitle {
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 40px;

          .wrapHeadTitle {
            font-family: Source Han Sans SC;
            font-weight: bold;
            font-size: 14px;
            color: #FFFFFF;
            flex: 1;
            text-align: center;
          }
          .wrapHeadSegmented {
            width: 150px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .chartsOrTable {
          width: 100%;
          height: 280px;
          padding: 0 20px;
        }
      }
    }

    .controlPageMainBottom {
      width: 100%;
      flex: 1;

      .tableTitle {
        width: 100%;
        height: 50px;
        padding: 0 10px 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
          font-family: Source Han Sans SC;
          font-weight: bold;
          font-size: 16px;
          color: #FFFFFF;
          position: relative;
        }
        .title::before {
          content: '';
          width: 2px;
          height: 16px;
          background: #fff;
          position: absolute;
          top: 2px;
          left: -10px;

        }
      }
      .tableWrap {
        width: 100%;
        height: 100%;
        padding: 0 10px;
      }
    }
  }
}



.cardListItem {
  width: 260;
  height: 60px;
  border: 1px solid;
  border-radius: 6px;
  border-top-color: #0052ec;
  border-right-color: #003495;
  border-bottom-color: #00297c;
  border-left-color: #003495;
  box-shadow: inset 0 0 6px #14339c;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-left: 10px;
  margin: 10px 0;

  .listItemIcon {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('@/assets/image/icon/iconBg.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;

    i {
      font-size: 18px;
      background: -webkit-linear-gradient(#d2e3fa, #0191fd);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #0191fd;
    }
  }

  .listItemContent {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0 10px 10px;

    .label {
      font-size: 16px;
      font-weight: 400;
      color: #fff;
      opacity: 0.8;
    }

    .value {
      font-family: DIN Medium;
      font-weight: 400;
      font-size: 20px;
      color: #FFFFFF;
    }
  }
}
