
/*------------------ 特色场景大屏样式文件 start --------------------*/

.featurePage {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;

  .pageLeft,.pageRight {
    flex: 2;
    height: 100%;
    overflow: hidden;
    background: cyan;
  }

  .pageMiddle {
    flex: 3;
    height: 100%;
    overflow: hidden;
    background: green;
    margin: 0 10px;
  }
}
/*------------------ 特色场景大屏样式文件 end ---------------------*/
