.modal {
  padding: 0 10px;
  color: #000;

  .modalBody {
    height: 700px;
    overflow: auto;

    .module {
      margin: 15px 0;

      .text {
        font-size: 16px;
        line-height: 28px;
        text-indent: 2em;

        .blue {
          color: #289bff;
          font-weight: 600;
        }
      }

      .divider {
        margin-top: 0;
        margin-bottom: 15px;
        border-color: #797979;
      }

      .table {
        width: 100%;
        border-collapse: collapse;

        td,
        th {
          padding: 5px; /* 添加内边距 */
          text-align: center; /* 文本居中 */
          border: 1px solid #000; /* 添加边框 */
        }

        tr:first-child {
          background-color: #aaaaaa; /* 第一行背景色 */
        }

        tr:last-child {
          background-color: #f2f2f2;
        }
      }

      .table2 {
        width: 100%;
        margin-bottom: 15px;
        border-collapse: collapse;

        td,
        th {
          padding: 5px; /* 添加内边距 */
          text-align: center; /* 文本居中 */
          border: 1px solid #000; /* 添加边框 */
        }
      }
    }

    .modalTitle {
      display: flex;
      justify-content: center;
    }

    .secondTitle {
      font-size: 18px;
    }
  }
}
