
/**------------------ ant button default start  ----------------------*/
.ant-btn-default {
  box-shadow: 0 0 10px 4px rgba(1, 70, 160, 1) inset;
  border-color: #006ade;
}

.ant-btn-primary {
  box-shadow: 0 0 20px 4px rgba(13, 123, 207, 1) inset;
  border-color: #1798e6;
  background: transparent;
}

.ant-btn-sm {
  line-height: 1;
}

/**------------------ ant button default end  -----------------------*/




/**------------------ 侧边栏菜单 start  ------------------------------*/
// 菜单收缩 自定义搜索
.ant-pro-layout .ant-pro-sider-logo-collapsed {
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
}

.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
  border-top: 1px solid  #18338a;
}

.ant-layout-sider-children::after {
  content: '';
  width: 8px;
  height: 2px;
  background: #41abf1;
  position: absolute;
  right: -1px;
  top: -1px;
}

.ant-pro-layout .ant-pro-sider .ant-layout-sider-children {
  border-color: #18338a;
  padding: 0;
}

.ant-menu-inline.ant-menu-root .ant-menu-item, .ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
  border: 1px solid transparent;
}
.ant-menu-dark .ant-menu-item-selected, .ant-menu-dark>.ant-menu .ant-menu-item-selected {
  background: transparent;
  border: 1px solid #0069d1 !important;
  margin-right: 0;
  border-radius: 2px;
  color: #006fdb;
  font-weight: 400;
  box-shadow: 0 0 10px 4px rgba(1, 70, 160, 1) inset;
}

.ant-pro-base-menu-inline-item-title .ant-pro-base-menu-inline-item-text {
  color: #fff;
}

.ant-menu .ant-menu-item .ant-menu-item-icon,
.ant-menu .ant-menu-submenu-title .ant-menu-item-icon,
.ant-menu .ant-menu-item .anticon,
.ant-menu .ant-menu-submenu-title .anticon{
  font-size: 22px;
}



/**------------------ 侧边栏菜单 end  --------------------------------*/



/**------------------ 改写header背景色 start  ------------------------*/
.ant-pro-layout .ant-layout-header.ant-pro-layout-header {
  border-bottom: none;
  background-image: url('@/assets/image/base/header.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ant-pro-layout .ant-pro-layout-bg-list {
  background-image: url('@/assets/image/base/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/**------------------ 改写header背景色 end  --------------------------*/

/*--------- 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺 start------- */
::-webkit-scrollbar {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0552b1;
  display: none;
}

/* 定义滚动条轨道 内阴影+圆角 */
::-webkit-scrollbar-track {
  background-color: #022a86;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}

/* 定义滑块 内阴影+圆角 */
::-webkit-scrollbar-thumb {
  background-color: #024eab;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
}
/*--------- 定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺 end -------- */

/**------------------ ant table header start  ----------------------*/
.ant-table-thead {
  background-image: url('@/assets/image/base/table-header.png');
  background-size: 100% 100%;
}

/**------------------ ant table header end  ----------------------*/



/**------------------ ant modal start  ---------------------------*/



.ant-modal .ant-modal-content {
  padding: 0;
  border: 2px solid #0072f9;
  border-top: none;
  position: relative;
  // background-image: radial-gradient(circle, #093173, #0a2251);
  background-color: #0a306f;
}
.ant-modal .ant-modal-content::after {
  position: absolute;
  bottom: -22px;
  left: -22px;
  content: '';
  width: 0;
  height: 0;
  border: 20px solid;
  border-color: transparent #05bcf3 transparent transparent;
  transform: rotate(-45deg);
}
.ant-modal .ant-modal-content::before {
  position: absolute;
  right: -22px;
  bottom: -22px;
  content: '';
  width: 0;
  height: 0;
  border: 20px solid;
  border-color: transparent #05bcf3 transparent transparent;
  transform: rotate(225deg);
}

.ant-modal .ant-modal-header {
  background-color: #0a306f;
}

.ant-modal .ant-modal-title {
  position: relative;
  height: 56px;
  padding-left: 60px;
  line-height: 50px;
  border: 3px solid #19a9f9;
  border-left: none;
  border-right: none;
  border-radius: 0 0 30px 30px;
  background-image: url('/image/modal_head_bg.png');
  background-size: contain;
  background-repeat: repeat-x;
}

.ant-modal .ant-modal-title::after {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 16px;
  height: 20px;
  content: '';
  background-image: url('/image/modal_head_arrow.png');
  background-size: contain;
  background-position: center center;
}
.ant-modal .ant-modal-title::before {
  position: absolute;
  left: 10px;
  width: 163px;
  height: 29px;
  bottom: 0;
  content: '';
  background-image: url('/image/modal_head_light.png');
  background-size: contain;
  background-position: center center;
}

.ant-modal .ant-modal-body {
  padding: 20px 30px 40px 30px;
}

.ant-modal .ant-modal-close {
  top: 16px;
}

.ant-modal .ant-modal-footer {
  padding: 0 20px 30px 0;
}

.ant-modal .ant-modal-content {
  padding: 0;
}



// .ant-modal .ant-modal-content {
//   background-image: url('@/assets/image/base/modal.png');
//   background-size: 100% 100%;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-color: transparent;
//   padding-top: 18px;
// }



// .ant-modal .ant-modal-body {
//   padding: 30px 30px;
// }
/**------------------ ant modal end  -----------------------------*/

