.monitorPage {
  display: flex;
  width: 100%;
  height: 100%;

  .pageLeft {
    width: 320px;
    height: 100%;
    margin-right: 20px;

    .pageLeftSide {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .title {
        height: 60px;
        padding-left: 12px;
        color: #0190ff;
        font-weight: bold;
        font-size: 20px;
        line-height: 60px;
        border-bottom: 1px solid #003199;
      }

      .content {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
        padding: 0 12px;

        .search {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          height: 68px;
        }

        .table {
          flex: 1;
          width: 100%;
          overflow: hidden;
          border: 1px solid #003199;
          border-bottom: none;
        }
      }
    }
  }

  .pageRight {
    flex: 1;
    height: 100%;

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .contentTitle {
        display: flex;
        width: 100%;
        height: 60px;
        padding-top: 15px;
        border-bottom: 1px solid #003199;

        .name {
          padding-bottom: 4px;
          color: #0190ff;
          font-weight: bold;
          font-size: 20px;
          line-height: 60px;
          text-indent: 20px;
        }
      }

      .contentMain {
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 100%;
        overflow: hidden;

        .mainBody {
          display: flex;
          flex: 1;
          width: 100%;
          border-bottom: 1px solid #003199;

          .mainBodyLeft {
            display: flex;
            flex-direction: column;
            width: 470px;
            height: 100%;
            overflow: hidden;
            border-right: 1px solid #003199;
          }

          .mainBodyRight {
            display: flex;
            flex: 1;
            flex-direction: column;
            height: 100%;
            overflow: hidden;
          }
        }

        .mainBody:nth-of-type(2) {
          border-bottom: none;
        }
      }
    }

    :global {
      .ant-form-item .ant-form-item-label > label {
        padding-left: 20px;
        font-weight: 500;
        font-size: 20px;
      }
    }
  }

  // 模块布局样式
  .areaHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 54px;
    padding: 0 12px 0 30px;

    .areaHeadTitle {
      position: relative;
      color: #ffffff;
      font-weight: bold;
      font-size: 16px;
    }

    .areaHeadTitle::after {
      position: absolute;
      top: 2px;
      left: -10px;
      width: 2px;
      height: 16px;
      background: #fff;
      content: '';
    }
  }

  .areaBody {
    flex: 1;
    width: 100%;
    padding: 0 30px;
    overflow: hidden;
  }

  // 能耗总览
  .overview {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 20px;
  }

  // 能源结构
  .structure {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .structureHead {
      display: flex;
      justify-content: space-between;
      width: 100%;
      height: 150px;

      .listTtem {
        width: 116px;
        height: 120px;
        background-image: url('@/assets/image/energy-monitor/01.png');
        background-repeat: no-repeat;
        background-position: bottom center;
      }

      .listTtem:nth-of-type(2) {
        background-image: url('@/assets/image/energy-monitor/02.png');
      }

      .listTtem:nth-of-type(3) {
        background-image: url('@/assets/image/energy-monitor/03.png');
      }

      .itemHead {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        p:nth-of-type(1) {
          color: #ffffff;
          font-weight: bold;
          font-size: 20px;
          font-family: DIN-Bold;
          line-height: 30px;
        }

        p:nth-of-type(2) {
          color: #ffffff;
          font-weight: 400;
          font-size: 16px;
          opacity: 0.8;
        }
      }

      .itemTitle {
        color: #39adff;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
      }
    }

    .structureChart {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      width: 100%;
      overflow: hidden;
    }
  }
}

// 进度条样式
.progress {
  width: 100%;
  height: 50px;

  .title {
    display: flex;
    width: 100%;
    height: 30px;
    line-height: 30px;

    span:nth-of-type(1) {
      margin-right: 10px;
      color: #ffffff;
      font-weight: 400;
      font-size: 16px;
    }

    span:nth-of-type(2) {
      color: #0084ff;
      font-weight: bold;
      font-size: 16px;
      font-family: DIN-Bold;
    }
  }

  .canvas {
    width: 100%;
    height: 20px;
  }
}
